<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>HighVoltageSwift.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>9053F3901EB7D314005EC1B3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9053F3A41EB7D314005EC1B3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9053F3AF1EB7D314005EC1B3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
